//navBar

//nesting
.navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $color_3;
    padding: 6px 20px;
    position:sticky;
    top:0;
    left:0;
    z-index:15; 
    nav{
        ul{
            display: inline-block;
                li{
                    list-style: none;
                    display: inline-block;
                    padding: 6px;
                    a{
                        color: $color_4;
                        font-weight:$fontWeight-2;
                        font-size: $fSize_2;
                        &:hover{
                            font-weight: $fontWeight-1;
                            font-size: $fSize_1;
                        }
                    }
                }
        }
    }
    div{
        display: flex;
        flex-direction: row;
        svg{
            color: $color_4;
            width : 30px;
            &:hover{
                font-weight: $fontWeight-1;
                font-size: $fSize_1;
            }
        }
        p{
            margin-left: 10px;
        }
    }

}