//vars globales

//font types
@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');
$font_1:"Roboto",sans-serif;
/*
Color Theme Swatches in RGBA 
$Blue-glitter-banner-1-rgba: rgba(1,80,89, 1);
$Blue-glitter-banner-2-rgba: rgba(61,132,140, 1);
$Blue-glitter-banner-3-rgba: rgba(122,184,191, 1);
$Blue-glitter-banner-4-rgba: rgba(196,237,242, 1);
$Blue-glitter-banner-5-rgba: rgba(165,116,87, 1);
*/


//colores del sitio
$color_1: rgba(0,116,124, 1);
$color_2: rgba(0, 187, 200, 0.30);
$color_3: rgba(202,202,202, 1);
$color_4: rgba(135,135,135, 1);
$color_5: rgba(31,31,33, 1);
$color_6:  rgba(31,31,33, 1);


//tamaños
$w-100:100%;
$w-99: 99%;
$w-80:80%;
$w-75:75%;
$w-50:50%;
$w-05:05%;


//----------------fuentes----------------
//pesos
$fontWeight_1:700;
$fontWeight_2:600;
$fontWeight_3:500;

//alturas 
$lHeight_0:2.0rem;
$lHeight_1:1.6rem;
$lHeight_2:1.4;
$lHeight_5:5.0rem;

//tamaños 
$fSize_General:62.5%;
$fSize_0:4.0rem;
$fSize_1:2.0rem;
$fSize_2: 1.8rem;
$fSize_3: 1.6rem;

